#PUT YOUR KAFKA PROPERTIES HERE
    YOUR KAFKA PROPERTIES
#/PUT YOUR KAFKA PROPERTIES HERE

#kafka upgrade - here are two additional parameters that you need to specify for upgrade in this step

inter.broker.protocol.version=2.5
log.message.format.version=2.5